.qrbutton-container button {
  width: 100%;
  margin-bottom: 1em;
  font-family: 'Press Start 2P', cursive;
}

.namelist-container {
  width: 100%;
  background: #2b2b2b;
  margin-bottom: 1.5em;
  padding-bottom: 1em;
  border-radius: 15px;
  box-shadow: 0px 10px #5faff0;
  overflow: hidden;
}

.namelist-header {
  background-color: #00578a;
  padding: 0.1px;
  color: #f7f7f7;
  text-align: center;
  box-shadow: 0px 10px #222222;
  border-radius: 15px;
  padding-top: 0.5em;
  font-family: 'Press Start 2P', cursive;
}

.yearbutton-container button {
  width: 100%;
  margin-top: 1.5em;
  margin-bottom: 1em;
  text-align: center;
  font-family: 'Kanit', cursive;
}

.hunted-container {
  padding-top: 1em;
  height: auto;
  overflow: scroll;
}

.quote-container {
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: 'Kanit', cursive;
}