.UserList {
    background-color: #fff;
    th,
    td {
        vertical-align: middle;
        font-family: 'Itim', cursive;
        font-size: 1.2em;
    }
    button {
        font-size: 1em;
    }
}

.UserList-col {
    text-align: center;
    padding-bottom: 1em;
}

.UserList-btn {
    font-family: 'Itim', cursive;
    font-size: 1.2em;
    padding: 0.2em 1em;
}