.ImageBox-container {
  background-color: #00578a;
  border-radius: 15px 15px 0 0;
  color: #e2e2e2;
  position: relative;
}

.ImageBox-container:after {
  content: '';
  background-color: #00578a;
  border-radius: 15px 15px 0 0;
  display: block;
  padding-bottom: 100%;
}

.ImageBox-container img {
  width: 100%;
  height: auto;
  position: absolute;
  border-radius: 15px 15px 0 0;
}

.ImageBox-content {
  padding-top: 0.1em;
  background-color: #00578a;
  border-radius: 0 0 15px 15px;
  text-align: center;
  color: #e2e2e2;
  font-size: 1em;
  font-family: 'Kanit', cursive;
}

.ImageBox-content:hover {
  text-decoration: underline;
}
