.myqr-container {
  background: #a2d5ff;
  width: 100%;
  height: 100%;
  padding-bottom: 1em;
  border-radius: 15px;
  box-shadow: 0px 10px #5faff0; }

.myqr-header {
  background-color: #00578a;
  padding: 0.1px;
  color: #f7f7f7;
  text-align: center;
  box-shadow: 0px 10px #83c3f7;
  border-radius: 15px;
  font-family: 'Press Start 2P', cursive;
  padding-top: 0.5em; }

.qrcode-container {
  padding-top: 1.5em;
  text-align: center;
  padding-bottom: 0.5em;
}

.myqrcode-container img{
  border: 1em solid #00578a;
  box-shadow: 0px 10px #83c3f7;
  border-radius: 15px;
}

.scanbutton-container {
  padding-top: 1.5em;
}

.scanbutton-container Button {
  font-family: 'Press Start 2P', cursive;
}
