.UserDetail-container {
  background: #a2d5ff;
  width: 100%;
  height: 100%;
  padding-bottom: 1em;
  border-radius: 15px;
  margin-bottom: 2em;
  box-shadow: 0px 10px #5faff0;
}

.UserDetail-header {
  background-color: #00578a;
  padding: 0.1px;
  color: #f7f7f7;
  text-align: center;
  box-shadow: 0px 10px #83c3f7;
  border-radius: 15px;
  font-family: 'Press Start 2P', cursive;
  padding-top: 0.5em;
}

.UserDetailForm {
  font-size: 20px;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  font-family: 'Kanit', cursive;
}

.UserDetailFriend {
  font-family: 'Kanit', cursive;
  font-size: 1.2em;
  text-align: center;
  padding-bottom: 1em;
}

.UserDetailForm label {
  font-size: 1em;
}

.Submit-btn {
  text-align: center;
}

.Submit-btn button {
  font-size: 24px;
  text-align: center;
  font-family: 'Kanit', cursive;
}