.MainNavBar {
    background-color: #262728;
}

.MainNavBarLink {
    display: block;
    padding: 0.5rem 1rem;
    padding-right: 0;
    padding-left: 0;
    color: rgba(255, 255, 255, 0.7) !important;
    background-color: transparent;
}

.MainNavBarLink:hover {
    color: rgba(255, 255, 255, 1) !important;
    text-decoration: none;
    cursor: pointer;
}

.MainNavBarBrand {
    color: #fff;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    text-decoration: none;
    background-color: transparent;
}

.MainNavBarBrand:hover {
    color: #fff;
    text-decoration: none;
}