.entercodebody-container {
  background: #a2d5ff;
  width: 100%;
  height: 100%;
  padding-bottom: 1em;
  border-radius: 15px;
  box-shadow: 0px 10px #5faff0; }

.entercode-header {
  background-color: #00578a;
  padding: 0.1px;
  color: #f7f7f7;
  text-align: center;
  box-shadow: 0px 10px #83c3f7;
  border-radius: 15px;
  font-family: 'Press Start 2P', cursive;
  padding-top: 0.5em; }

.codeform-container {
  padding-top: 1em;
}

.label-container {
  color: rgb(56, 56, 56);
  padding-top: 1.5em;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

.codesubmit-container {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.codesubmit-container Button {
  width: 50%;
  font-family: 'Press Start 2P', cursive;
}
