body {
  font-family: sans-serif;
  background-image: url('./assets/bg_sword_tile2.png'); 
  background-size: cover;
  margin-top: 2em;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #efefef;
  padding: 5px 0; }

.AppLoader {
  text-align: center; 
}

.mainsort-container {
  padding-top: 1em;
  padding-bottom: 1em;
}
